.pitch {
  max-width: 1200px;
  padding: 10px 10px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
}

.pitch .subtitulo {
  color: #e0e0e0;
}

.pitch-texto {
  font-size: 1.5rem;
  text-align: left;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 20px;
  color: #525252;
}

.pitch-texto strong {
  color: #141414;
}

@media (max-width: 800px) {
  .pitch {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .pitch .subtitulo {
    color: #141414;
  }
  .pitch-texto {
    font-size: 1.25rem;
  }
  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}
